<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" href="../static/style.css" th:href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<main class="main1">
<form action="#" th:action="@{form_submit}" th:object="${Student}"  name="form1" class="form1" method="post">
    <div class="title">Add student</div>
    <label for="t1">Name</label><br/>
    <input type="text" th:field="*{name}" name="t1" class="t1" id="t1"/><br/><br/>
    <label for="t2">Email</label><br/>
    <input type="text" th:field="*{email}" name="t2" class="t2" id="t2"/><br/><br/>
    <input type="submit" value="Submit"><span> </span><input type="reset" value="Reset">
</form>
</main>
<p>To main <a href="/index"></a></p>
</body>
</html>